version: '2'

services:

  app:
   image: "{{ blueprint_api_docker_image }}:{{ blueprint_api_docker_version }}"
   restart: always
   environment:
        MONGO_HOST: {{ blueprint_api_mongo_url }}
   ports:
       - "{{ blueprint_api_docker_port }}:5000"

   mem_limit: {{ blueprint_api_docker_compose_mem_limit }}
   mem_reservation: {{ blueprint_api_docker_compose_mem_reservation }}
   stop_grace_period: 1m30s
  
  mongo:
    image: mongo:3
    restart: always
    mem_limit: 200M
    ports:
        - "27017:27017"
