version: '2'

services:

  app:
   image: den4iks99/blueprint_api:develop
   restart: always
   environment:
        MONGO_HOST: {{ blueprint_api_mongo_url }}
   ports:
       - "{{ blueprint_api_docker_port }}:5000"

   mem_limit: {{ blueprint_api_docker_compose_mem_limit }}
   mem_reservation: {{ blueprint_api_docker_compose_mem_reservation }}
   stop_grace_period: 1m30s